@import "../../../../scss/import";

.tree-wrapper {
  position: relative;
  .tree-input-wrapper {
    input {
      width: 100%;
    }
  }
  .tree-items-wrapper {
    &.tree-hidden {
      display: none;
    }
    position: absolute;
    width: 100%;
    ul.tree-items {
      background: $input-bg;
      list-style: none;
      padding-left: 0px;
      li.tree-item {
        cursor: pointer;
        padding: 3px 0px;
        margin-left: 10px;
        > div.tree-item-div {
          span.item-icon:before {
            margin-right: 5px;
            font-family: 'Glyphicons Halflings';
            content: "\e022";
          }
        }
        div.tree-item-div:hover{
          background: rgba(255, 255, 255, 0.7);
          color: #333;
          span.item-value {
            text-decoration: underline;
            color: $brand-primary;
          }
        }
         &.selected {
          > div.tree-item-div {
            background: rgba(255, 255, 255, 0.7);
            color: #333;
            span.item-value {
              text-decoration: underline;
              color: $brand-primary;
            }
          }
        }

        &.has-child {
          > ul.tree-items {
            display: none;
          }
          > div.tree-item-div {
             span.item-icon:before {
              content: "\e117";
            }
          }
        }
        &.has-child.opened {
          > ul.tree-items {
            display: block;
          }
          > div.tree-item-div {
            span.item-icon:before {
              content: "\e118";
            }
          }
        }

      }
    }
    > ul.tree-items{
      > li.tree-item{
        margin-left: 3px;
        margin-right: 3px;
      }
    }
  }
}
